*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --white: #fff;
    --darkGray1: #111;
    --darkGray2: #222;
    --darkGray3: #333;
    --darkGray4: #444;
    --red: #f00;
    --blue: #00f;
    --green: #0f0;
}

body{
    background-color: var(--black);
    color: var(--white);
    /* background-color: var(--white); */
}

nav{
    height: 50px;
    border: 2px solid var(--white);
    display: flex;
}

nav div{
    width: 50px;
    height: 100%;
    /* border: 1px solid var(--green); */
    display: flex;
    margin: 0px 2px;
}

nav div:first-child {
    margin-right: auto;
}



nav div img{
    width: 35px;
    margin: auto;
}

nav div button{
    outline-color: transparent;
    background-color: transparent;
    border: transparent;
}

.menu{
    height: 200px;
    /* border: 1px solid var(--white); */
}

.menu ul{
    height: 100%;
    /* border: 1px solid var(--blue); */
    list-style-type: none;
}
.menu ul li{
    background-color: var(--darkGray3);
    border-bottom: 1px solid var(--black);
    height: 16.6%;
    display: flex;
    font-size: 18px;
}


.menu ul li span{
    margin: auto 0 auto 10px;
}

.menu ul li:nth-child(6){
    justify-content: space-between;
}
.menu ul li button{
    width: 50px;
    margin: 5px 20px;
    border-radius: 10px;
    border: none;
}



@media screen and (max-width: 480px) {
    
}
@media screen and (min-width: 481px) {
    
}
@media screen and (min-width: 720px) {
    
}
